<div class="container-home">
  <br><br>
  <div class="col-md-1"></div>
  <div class="dashboard col-md-6">
    <h1 class="home"><%= current_user.nickname %></h1><br>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %><br>
    <h3 class="home user-email"><%= current_user.email %></h3><br>
    <h3 class="home user-bio"><%= current_user.bio %></h3><br>
    <h3 class="home user-website"><%= link_to current_user.website_url, current_user.website_url %></h3><br>
    <h4 class="home"><%= link_to "Followers: ", follows_path %><%= @user_info[:data][:counts][:followed_by] %></h4>
    <h4 class="home"><%= link_to "Following: ", follows_path%><%= @user_info[:data][:counts][:follows] %></h4>
  </div>
  <div class="col-md-2"></div>
  <div class="dashboard-buttons col-md-4">
    <%= link_to "My Photos", photos_path, class: "btn btn-lg btn-default btn-home" %><br><br>
    <%= link_to "Logout", "/logout", method: :delete, class: "btn btn-lg btn-default btn-home" %>
  </div>
</div>
