<div class="container-home">
  <%= link_to "Home", dashboard_path, class: "btn btn-lg btn-default btn-home" %>
  <div class="row images">
    <% @images.each do |image| %>
    <div class="col-md-6 user-post rounded">
      <div class="user-image">
        <%= link_to image_tag(image.image_url), photo_path(image.media_id), id: "media-#{image.media_id}" %>
      </div><br>
      <div class="image-info rounded">
        <%= image.caption %><br>
        <%= image.location %><br>
        <i class="glyphicon glyphicon-heart"></i>   <%= image.likes %><br>
      </div>
    </div>
    <% end %>
  </div>
</div>
